---
layout: blog
---

<section class="mt-15">
    {% set postslist = collections.projects_folder %}

    {% for projects_folder in postslist | reverse %}
        <article class="my-8">
            <h2 class="font-bold text-3xl text-gray-900 mb-2">
                <a href="{{ projects_folder.url | url }}">
                    {% if projects_folder.data.title %}
                        {{ projects_folder.data.title }}
                    {% else %}
                        Untitled
                    {% endif %}
                </a>
            </h2>
            <p class="text-base leading-6 text-gray-500 mb-3">
                <time>
                    {{ projects_folder.date | readableDate }}
                    by
                    <a>{{ projects_folder.data.author }}</a>

                </time>
            </p>
            {% if projects_folder.data.description %}
                <p class="text-lg text-gray-500 mb-3">
                    {{ projects_folder.data.description }}
                </p>
            {% endif %}

            <p>
                <a href="{{ projects_folder.url | url }}" class="text-indigo-500 font-bold text-lg">
                    Read more →
                </a>
            </p>

        </article>
    {% endfor %}
</section>
